.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #64696a;
  background: #fff;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
}

.codrops-header {
  /* text-align: center; */
  background: #f7f7f7;
}
.logo-img {
  width: 150px;
  height: 150px;
}
.codrops-header div {
  display: inline-block;
  bottom: 0;
}
.codrops-header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 700;
}

.codrops-header h1 span {
  display: block;
  font-size: 60%;
  opacity: 0.7;
  padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-transform: uppercase;
  font-size: 0.69em;
  line-height: 2.2;
  text-align: justify;
}

.codrops-top a {
  color: #f0f0f0;
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
  display: inline-block;
}

.codrops-top a:hover {
  color: #fff;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: "codropsicons";
  margin: 0 4px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

.search-icon {
  font-size: 100px;
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
  height: 250px;
}

.search-icon i {
  margin-top: 100px;
  color: #bbb;
  text-shadow: 0 2px 2px #fff;
}

.related {
  margin-top: 5em;
  color: #000;
  background: #f1eefb;
  text-align: center;
  font-size: 1.25em;
  overflow: hidden;
}

.related a {
  display: inline-block;
  text-align: left;
  margin: 20px auto;
  padding: 10px 20px;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.related a:hover,
.related a:active {
  opacity: 1;
}

.related a img {
  max-width: 100%;
}
.related a h4 {
  color: #2bec;
}
.related a h3 {
  font-weight: 300;
  margin-top: 0.15em;
  color: #fff;
}

@media screen and (max-width: 40em) {
  .codrops-icon span {
    display: none;
  }

  .codrops-icon:before {
    font-size: 160%;
    line-height: 2;
  }
}

.catPageRating {
  top: -5px;
  left: -5px;
  position: absolute;
  z-index: 100;
}
.bookImageBox {
  height: 200px;
  position: relative;
  border: 2px solid rgb(238, 238, 238);
}
.bookshelf {
  position: relative;
  margin: 40px auto 0;
  list-style: none;
  text-align: center;
}

.bookshelf figure {
  position: relative;
  display: inline-block;
  margin: 40px 0 0 0;
  padding: 45px 0;
  max-width: 75%;
  width: 324px;
  vertical-align: top;
}
.bookshelf figure {
  z-index: 100;
  -webkit-transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}
/* Perspectiv wrapper, figure and book */

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1800px;
  perspective: 1800px;
}

.book {
  position: relative;
  margin: 0 auto;
  width: 180px;
  height: 260px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.book div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cover {
  z-index: 10;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
}

.cover::before {
  position: absolute;
  left: 0;
  z-index: 10;
  visibility: hidden;
  width: 20px;
  height: 100%;
  background: #000;
  content: "";
  -webkit-transform: translateX(-100%) rotateY(-90deg);
  transform: translateX(-100%) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner {
  border-width: 3px;
  border-style: solid;
  background-color: #fff;
}

.bookshelf .book .inner-left {
  border-right: none;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inner-right {
  border-left: none;
}
.bookshelf figcaption {
  position: relative;
  top: 100%;
  padding: 0 2em;
  text-align: center;
}

.bookshelf figcaption h2 {
  margin: 1em 0 0 0;
  font-weight: 300;
  font-size: 1.8em;
  font-family: "cursive"; /* "Abril Fatface", serif;*/
}

.bookshelf figcaption h2 span {
  position: relative;
  display: block;
  /*margin: 1em 0 0 0;*/
  padding: 1em 0 0 0;
  /* text-transform: uppercase;*/
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.5em;
  font-family: "cursive"; /* "Lato", sans-serif;*/
}

/* .bookshelf figcaption h2 span::before, */
.details ul li:first-child::after {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
}
/* Buttons and figcaption */

.buttons {
  margin-top: 5px;
  text-align: center;
}

.buttons a {
  display: inline-block;
  padding: 0 8px;
  color: rgba(100, 105, 106, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.65em;
  line-height: 1.5;
}

.buttons a:first-child:not(:only-child) {
  border-right: 1px solid rgba(100, 105, 106, 0.3);
}

.buttons a:hover,
.buttons a:active {
  color: #64696a;
}

.bookshelf figcaption {
  position: relative;
  top: 100%;
  padding: 0 2em;
  text-align: center;
}

.bookshelf figcaption h2 {
  margin: 1em 0 0 0;
  font-weight: 300;
  font-size: 1.8em;
  font-family: "Abril Fatface", serif;
}

.bookshelf figcaption h2 span::before,
.details ul li:first-child::after {
  position: absolute;
  top: 0;
  left: 40%;
  width: 20%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
}
/* Details panel */

.details {
  position: absolute;
  top: 0;
  width: 100%;
}

.details ul {
  margin: 0;
  padding: 60px 30px 0 30px;
  list-style: none;
  text-align: left;
}

.csstransformspreserve3d .details ul {
  padding: 60px 30px 0 70px;
}

.details ul li {
  margin: 0 0 10px;
  font-weight: 300;
}

.details ul li:not(:first-child) {
  font-weight: 700;
}

.details ul li:first-child {
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  text-align: justify;
}

.details ul li:first-child::after {
  top: 100%;
  left: 0;
}

.close-details {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
  width: 20px;
  height: 20px;
  font-size: 0;
  opacity: 0.6;
  cursor: pointer;
}

.details-open .close-details {
  visibility: visible;
}

.close-details:hover {
  opacity: 1;
}

.close-details::before,
.close-details::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #333;
  content: "";
}

.close-details::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-details::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Details open / view details */

.bookshelf figure {
  z-index: 100;
  -webkit-transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}

.bookshelf figure.details-open {
  z-index: 101;
  -webkit-transition: none;
  transition: none;
}

.csstransformspreserve3d .details-open .book {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-36px) rotateY(90deg);
  transform: translateX(-36px) rotateY(90deg);
}

.no-csstransformspreserve3d .details-open .book {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.csstransformspreserve3d .cover::before {
  -webkit-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}

.csstransformspreserve3d .details-open .cover::before {
  visibility: visible;
  -webkit-transition: none;
  transition: none;
}

.details {
  /*visibility: hidden;*/
  opacity: 1;
  background: white;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;

  /*  z-index: -1; */
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.details-open .details {
  /*visibility: hidden;*/
  opacity: 1;
  z-index: 10;
  -webkit-transition: opacity 0.5s, visibility 0s;
  transition: opacity 0.5s, visibility 0s;
}

.details ul li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  /* -webkit-transform: translateX(30%);
  transform: translateX(30%); */
}

.details-open .details ul li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.details-open .details ul li:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.details-open .details ul li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.details-open .details ul li:nth-child(4) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.details-open .details ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Details background */

.bookshelf figure::before {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.bookshelf figure.details-open::before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s, visibility 0s;
  transition: opacity 0.3s, visibility 0s;
}

/* Overlay when viewing details */

.bookshelf figure::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background: rgba(51, 51, 51, 0.1);
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, height 0s 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bookshelf figure.details-open::after {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* Animations */
@-webkit-keyframes openSmallBook {
  0% {
  }
  55%,
  100% {
    -webkit-transform: rotateY(-180deg);
  }
}
@keyframes openSmallBook {
  0% {
  }
  55%,
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@-webkit-keyframes closeSmallBook {
  0%,
  45% {
    -webkit-transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}
@keyframes closeSmallBook {
  0%,
  45% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes scaleUpSmallBook {
  0% {
  }
  85%,
  100% {
    -webkit-transform: scale(1.4);
  }
}
@keyframes scaleUpSmallBook {
  0% {
  }
  85%,
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
@-webkit-keyframes scaleDownSmallBook {
  0%,
  15% {
    -webkit-transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes scaleDownSmallBook {
  0%,
  15% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes openBigBook {
  0% {
  }
  45% {
    opacity: 0;
    -webkit-transform: scale(0.95);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes openBigBook {
  0% {
  }
  45% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes closeBigBook {
  0%,
  15% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  55%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0.95);
  }
}
@keyframes closeBigBook {
  0%,
  15% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  55%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
/*toggle changes for display of book details*/

.clicker.hidden {
  display: none;
}

#perspective:target ~ div a[href="#perspective"] {
  display: none;
}
#perspective:target ~ div a[href="#details"] {
  display: inline-block;
}
#perspective:target ~ div .details {
  height: 260px;
}
